@model TicketTrackerModels.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursOfLabor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursOfLabor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StakeholderEmails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StakeholderEmails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
